################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication12/.vs/WebApplication12/FileContentIndex
